<h2><%= link_to l(:label_crm_deal_status_plural), :controller => 'deal_statuses', :action => 'index' %> &#187; <%=l(:label_crm_deal_status_new)%></h2>

<%= form_tag({:action => 'create'}, :class => "tabular") do %>
  <%= render :partial => 'form' %>
  <%= submit_tag l(:button_create) %>
<% end %>
