<div class="news_selectors">
<%= radio_button :news_category, :news_type, "news", :checked => true %> <%= label_tag :news_type_news, 'Regular News' %> <br/>
<%= radio_button :news_category, :news_type, "project" %> <%= label_tag :news_type_project, 'Project Note (Visible in current project notebook)' %> <br/>
<%= radio_button :news_category, :news_type, "user" %> <%= label_tag :news_type_user, "User Note (Visible in users' notebook)" %> <br/>
</div>