<div class="news_selectors">
<%= radio_button :news_category, :news_type, "news", :checked => true %> <%= label_tag :news_type_news, 'Regular News' %> <br/>
<%= radio_button :news_category, :news_type, "project" %> <%= label_tag :news_type_project, 'Project (Visible to current project)' %> <br/>
<%= radio_button :news_category, :news_type, "user" %> <%= label_tag :news_type_user, "Global (Visible to all)" %> <br/>
</div>
