<br/>
<div>
  <% if params[:days_ago].to_s.to_i == 0 && @todays_status.nil? %>
      <h4><%= textilizable l(:label_today_no_status) %></h4>
  <%end%>
  <div style="float:left" id="daily_status_project_name_header">
    <% if @daily_status.created_at %>
      <h3>Project Status on <%=(@daily_status.created_at).strftime('%b %-d')%></h3>
    <%else%>
      <h3>Project Status on <%=(Date.today).strftime('%b %-d')%></h3>
    <%end%>
  </div>
   <div style="float:right">
    <% if User.current.allowed_to?(:manage_daily_status, @project) %>
      <a href="#" accesskey="e" class="icon icon-add" onClick="$('#daily_status_content_form').show();$('#daily_status_content_show').hide();$('#daily_status_project_name_header').hide();"><%= l(:label_add_update_today_status) %></a>
    <%end%>
  </div>
</div>
<br/><br/>
<div id="daily_status_content_show" class="wiki wiki-page">
  <% if @daily_status.content %>
    <%= textilizable @daily_status.content %>
  <%else%>
    <%= textilizable l(:label_no_status) %>
  <%end%>
</div>

<% if User.current.allowed_to?(:manage_daily_status, @project) %>
  <div id="daily_status_content_form" class="box" style='display:none;'>
    <h3><%= l(:label_edit_today_status) %></h3>
    <%= form_for(@daily_status, :url => "/projects/#{@project.identifier}/daily_status", :html => { :method => :post}) do |f| %>
      <p>
        <span id="daily_status_content_and_toolbar">
          <% if @todays_status %>
          <textarea accesskey="e" class="wiki-edit" cols="60" id="daily_status_content" name="daily_status[content]" rows="10"><%= @todays_status.content %></textarea>
          <% else %>
          <textarea accesskey="e" class="wiki-edit" cols="60" id="daily_status_content" name="daily_status[content]" rows="10"></textarea>
          <% end %>
        </span>
      </p>

      <%= wikitoolbar_for 'daily_status_content' %>
      <% if !@daily_status.setting.watchers.present? %>
        <div id="project_members"><div class="daily_status_email_checkbox"><input type='checkbox' name="daily_status[is_email_sent]" value=1 /><%= l(:label_send_email_project_members) %></div></div>
        <div id="project_watchers" style="display:none;"><div class="daily_status_email_checkbox"><input type='checkbox' name="daily_status[is_email_sent]" value=1 /><%= l(:label_send_email_project_watchers) %></div></div>
        <% else %>
        <div id="project_watchers"><div class="daily_status_email_checkbox"><input type='checkbox' name="daily_status[is_email_sent]" value=1 /><%= l(:label_send_email_project_watchers) %></div></div>
        <div id="project_members" style="display:none;"><div class="daily_status_email_checkbox"><input type='checkbox' name="daily_status[is_email_sent]" value=1 /><%= l(:label_send_email_project_members) %></div></div>
      <% end %>
      <% if @todays_status %>
        <% if @todays_status.is_email_sent %>
        <div class="daily_status_email_notification_text"><div class="daily_status_note"><b>Note:&nbsp;</b></div><%= l(:label_sent_email) %></div>
        <%end%>
      <%end%>

      <input name="update" type="submit" value="<%= l(:label_update) %>"/>
      <input type="button" value="<%= l(:label_cancel) %>" onclick="$('#daily_status_content_form').hide();$('#daily_status_content_show').show();$('#daily_status_project_name_header').show();"/>
    <% end %>
</div>
<%end%>
<% content_for :sidebar do %>
  <br/>
  <h4>Current Week</h4>
<ul class="daily_status_current_week">
    <% today_date = Date.today
      week_beginning_date = today_date.at_beginning_of_week
      liblock = ""
      todayliblock = ""
      while (today_date - week_beginning_date).to_i >= 0 do
          days_ago = (today_date - week_beginning_date).to_i
          liblock += '<li><a href="/projects/'+@project.identifier+'/daily_status?days_ago='+days_ago.to_s+'">'+week_beginning_date.strftime("%a")+'</a>&nbsp;|&nbsp;</li>'
          week_beginning_date = week_beginning_date+1
      end
      *a, b = liblock.split('|&nbsp;', -1)
      %>
          <%= (a.join('|&nbsp;')+'&nbsp;'+b).html_safe %>
    
</ul>
    <br/>
    <h4>History</h4>
 <div id="datepicker"></div>
   <% if User.current.allowed_to?(:manage_daily_status, @project) ||
    (@daily_status.setting.watchers.present? && User.current.allowed_to?(:manage_daily_status, @project)) %>
    <div id="watchers">
      <%= render :partial => 'daily_status_watchers/watchers', :locals => {:watched => @daily_status.setting} %>
    </div>
  <% end %>
  <% if !@daily_status.setting.watchers.present? %>
      <div class="daily_status_email_note"><b>Note:&nbsp;</b><%= l(:label_email_note) %></div>
     <% else %>
      <div class="daily_status_email_note" style="display:none;"><b>Note:&nbsp;</b><%= l(:label_email_note) %></div>
     <% end %>
<% end %>
<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'daily_status', :plugin => 'redmine_daily_status' %>
<% end %>
<% content_for :header_tags do %>
    <%= javascript_include_tag 'daily_status', :plugin => 'redmine_daily_status' %>
<% end %>
<script>
$(function() {
var todaysdate = new Date();
var qs = getQueryStrings();
    if(qs["days_ago"] != undefined)
      var days_ago = qs["days_ago"];
    else
      var days_ago = 0;

var SelectedDates = {};
var newselecteddate = getNewCalandarDate(todaysdate,days_ago);
    $( "#datepicker" ).datepicker({ maxDate: "0" , onSelect: function(dateText, inst) {
          var dateAsString = dateText; //the first parameter of this function
          var selecteddate = $(this).datepicker( 'getDate' ); //the getDate method
          location.href = "/projects/<%=@project.identifier%>/daily_status?days_ago="+dateDiff(selecteddate , todaysdate);
       }
     });
  
  $('#datepicker').datepicker('setDate', newselecteddate);
  setTimeout(function(){ add_Class_To_Selected_Date(); },1000);
  $('#daily_status_content').height('400px');
});
</script>